.article-title {
    font-size: 36px;
    line-height: 1.25;
    color: #000;
}

.article-sub {
    display: flex;
    margin-top: 36px;
}

.article-date {
    margin-top: 15px;
    color: #000;
}



.article-fv {
    width: 100%;
    height: 400px;
    margin-top: 112px;
}

.article-text {
    p {
        margin-top: 32px;
        font-size: 20px;
        line-height: 1.75;
        color: #000;
    }

}

