

@media screen and (width >=767px)  {
    .top-page-content {

    }

    .top-page-content-article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 32px;

        .category-article{
            width: calc((100% - 20px) / 2);
    
            .entry-title a {
                font-size: 20px;
                line-height: 30px;
                display: block;
            }
        }
    }


    
    .top-page-article{
        width: calc((100% - 20px) / 2);

        .entry-title a {
            font-size: 20px;
            line-height: 20px;
        }
    }
    

    



    .inner-wrap {
        padding-top: 56px;
    }

    .inner-wrap--top-page {
        padding: 90px 30px;
    }


    .post-thumbnail {
        margin-bottom: 12px;
    }

    
}


@media screen and (width <=767px)  {
    .top-page-content {
        display: block;
    }



    .top-page-article {

        margin-bottom: 48px;

        .entry-title a {
            font-size: 20px;
            line-height: 20px;
        }
    }

    .post-thumbnail {
        margin-bottom: 4px;
    }



}
