/* 共通部分 */
.article-title {
    color: #000;
    font-size: 36px;
    line-height: 1.25;
  }
  
  .article-sub {
    display: flex;
    margin-top: 36px;
  }
  
  .article-date {
    color: #000;
    margin-top: 15px;
  }
  
  .article-fv {
    height: 400px;
    margin-top: 112px;
    width: 100%;
  }
  
  .article-text {
    h2 {
      border-bottom: solid 3px #E8E8E8;
      font-size: 28px;
      line-height: 36px;
      margin: 20px 0 18px;
      padding-bottom: 12px;
      position: relative;
    }
  
    p {
      color: #000;
      font-size: 18px;
      line-height: 1.75;
      margin-top: 32px;
    }
  
    li {
      font-size: 18px;
      line-height: 1.75;
      margin-bottom: 8px;
      list-style-type: disc;
      margin-left: 20px;
      color: #000;
    }
  }
  
  /* PC向けスタイル */
  @media screen and (min-width: 768px) {
    .article-title,
    .article-sub {
      max-width: 720px;
      margin: 0 auto;
    }
  
    .article-fv {
      height: 400px;
    }
  
    .article-text {
      max-width: 720px;
      margin: 0 auto;
  
      h3 {
        font-size: 18px;
        line-height: 24px;
        margin: 16px 0 14px;
        padding-bottom: 8px;
      }
  
      img {
        display: block;
        max-width: 500px;
        margin: 0 auto;
      }
    }
  }
  
  /* SP向けスタイル */
  @media screen and (max-width: 767px) {
    .article-title {
      font-size: 28px;
    }
  
    .article-sub {
      flex-direction: column;
      margin-top: 24px;
    }
  
    .article-fv {
      height: 250px;
      margin-top: 56px;
    }
  
    .article-text {
      h2 {
        font-size: 24px;
        line-height: 30px;
        margin: 18px 0 16px;
        padding-bottom: 10px;
      }
  
      h3 {
        margin-bottom: 16px;
        font-size: 24px;
        color: #000;
        text-align: left;
      }
  
      img {
        width: 100%;
      }
  
      p {
        font-size: 16px;
        line-height: 1.6;
        margin-top: 24px;
      }
    }
  }
  