/* 共通部分 */
.article-title {
    color: #000;
    font-size: 36px;
    line-height: 1.25;
  }
  
  .article-sub {
    display: flex;
    margin-top: 36px;
  }
  
  .article-date {
    color: #000;
    margin-top: 15px;
  }
  
  .article-fv {
    height: 400px;
    margin-top: 112px;
    width: 100%;
  }
  
  .article-text {
    h2 {
      border-bottom: solid 3px #E8E8E8;
      font-size: 28px;
      line-height: 36px;
      margin: 20px 0 18px;
      padding-bottom: 12px;
      position: relative;
    }
  
    p {
      color: #000;
      font-size: 20px;
      line-height: 1.75;
      margin-top: 32px;
    }
  }

  
  @media screen and (width >=767px)  {
        /* PC向け */
        .article-title {
          font-size: 36px; /* PCではそのまま */
          max-width: 720px;
          margin: 0 auto;
        }
      
        .article-sub {
          margin-top: 36px;
          max-width: 720px;
          margin: 0 auto;
        }
      
        .article-fv {
          height: 400px; /* PC向けにそのまま */
        }

        .article-text {
            max-width: 720px;
            margin: 0 auto;
        }
      
        .article-text h2 {
          font-size: 28px;
          line-height: 36px;
          margin: 20px 0 18px;
          padding-bottom: 12px;
        }

        .article-text h3 {
            margin-bottom: 16px;
            font-size: 28px; /* フォントサイズを少し大きく */
            color: #000;
            text-align: left;
          }

          .article-text img {
            display: block;
            max-width: 500px;
            margin: 0 auto;

        }
      
        .article-text p {
          font-size: 20px;
          line-height: 1.75;
          margin-top: 32px;
        }
      
  }

  @media screen and (width <=767px)  {
        /* SP向け */
        .article-title {
          font-size: 28px; /* SP向けにサイズを少し小さく */
        }
      
        .article-sub {
          flex-direction: column; /* SPでは縦並び */
          margin-top: 24px;
        }
      
        .article-date {
          margin-top: 12px;
        }
      
        .article-fv {
          height: 250px; /* SPでは高さを少し小さく */
          margin-top: 56px;
        }
      
        .article-text h2 {
          font-size: 24px;
          line-height: 30px;
          margin: 18px 0 16px;
          padding-bottom: 10px;
        }
        .article-text h3 {
            margin-bottom: 16px;
            font-size: 24px;
            color: #000;
            text-align: left;
          }

        .article-text img {
            widthh: 100%;

        }
      
        .article-text p {
          font-size: 16px; /* フォントサイズを少し小さく */
          line-height: 1.6;
          margin-top: 24px;
        }
      
  }